<a href="https://colab.research.google.com/github/Eya-Dhif/GoMyCode-/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Welcome to Python world! Let's start coding")

Welcome to Python world! Let's start coding

In [8]:
def multiplyList(list):
  result=1
  for i in list:
    result= result*i
  return result

list= [2,3,6]
print(multiplyList ([2,3,6]))

36

In [27]:
def last(n):
  return n[-1]
def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [25]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}
for key in d2:
  if key in d1:
    d2[key]= d2[key]+ d1[key]
  else:
    print(d1)

  print(d2)

{'a': 400, 'b': 200, 'd': 400}
{'a': 400, 'b': 400, 'd': 400}
{'a': 100, 'b': 200, 'c': 300}
{'a': 400, 'b': 400, 'd': 400}

In [34]:
n= int(input("enter a number"))
d={}
for i in range(1,n+1):
  d[i]= i*i

print(d)

enter a number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [35]:
print("create a new set")
s= set()
print(s)
print("create a non empty set")
a= {0, 1, 2, 3, 4}
print(a)

create a new set
set()
create a non empty set
{0, 1, 2, 3, 4}

In [37]:
s= set()
print(s)
print("add new element")
s.add("access")
print(s)
s.pop()
print(s)

set()
add new element
{'access'}
set()